*.zzzgo linguist-language=Go
doc.go linguist-documentation
*.md linguist-documentation
*.pb.go linguist-generated
../xop-go/basegroup.go linguist-generated
../xop-go/line.go linguist-generated
../xop-go/seed.go linguist-generated
../xop-go/span.go linguist-generated
../xop-go/sub.go linguist-generated
../xopotel-go/buffered.go linguist-generated
../xopotel-go/export.go linguist-generated
../xopotel-go/otel.go linguist-generated
../xop-go/xopat/attributes.go linguist-generated
../xop-go/xopbase/abbr.go linguist-generated
../xop-go/xopbase/base.go linguist-generated
../xop-go/xopbase/skip.go linguist-generated
../xop-go/xopcon/console.go linguist-generated
../xop-go/xopconsole/attributes.go linguist-generated
../xop-go/xopconsole/replay.go linguist-generated
../xop-go/xopjson/jsonlogger.go linguist-generated
../xop-go/xopjson/replay.go linguist-generated
../xop-go/xoppb/pb.go linguist-generated
../xop-go/xoppb/replay.go linguist-generated
../xop-go/xoprecorder/recorder.go linguist-generated
../xop-go/xoprecorder/replay.go linguist-generated
../xop-go/xoptrace/hexbytes.go linguist-generated
../xop-go/xoputil/enumer_test.go linguist-generated
../xop-go/xopbase/xopbaseutil/metadata.go linguist-generated
../xop-go/xopjson/xopjsonutil/attributes.go linguist-generated
../xop-go/xoptest/xoptestutil/enums.go linguist-generated
../xop-go/xoptest/xoptestutil/verify_replay.go linguist-generated
