*.zzzgo linguist-language=Go
doc.go linguist-documentation
*.md linguist-documentation
*.pb.go linguist-generated
basegroup.go linguist-generated
line.go linguist-generated
seed.go linguist-generated
span.go linguist-generated
sub.go linguist-generated
internal/enumer_test.go linguist-generated
xopat/attributes.go linguist-generated
xopbase/abbr.go linguist-generated
xopbase/base.go linguist-generated
xopbase/skip.go linguist-generated
xopcon/console.go linguist-generated
xopconsole/attributes.go linguist-generated
xopconsole/console.go linguist-generated
xopconsole/replay.go linguist-generated
xopjson/jsonlogger.go linguist-generated
xopjson/replay.go linguist-generated
xopotel/buffered.go linguist-generated
xopotel/export.go linguist-generated
xopotel/otel.go linguist-generated
xoppb/pb.go linguist-generated
xoppb/replay.go linguist-generated
xoprecorder/recorder.go linguist-generated
xoprecorder/replay.go linguist-generated
xoptrace/hexbytes.go linguist-generated
xopbase/xopbaseutil/metadata.go linguist-generated
xopjson/xopjsonutil/attributes.go linguist-generated
xoptest/xoptestutil/enums.go linguist-generated
xoptest/xoptestutil/verify_replay.go linguist-generated
